apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: haproxy-ingress
  namespace: argocd
spec:
  project: default
  source:
    chart: kubernetes-ingress
    repoURL: https://haproxytech.github.io/helm-charts
    targetRevision: {{ .Values.haproxy.version }}
    helm:
      controller:
        service:
          annotations:
            service.beta.kubernetes.io/azure-load-balancer-health-probe-request-path: /healthz
          type: LoadBalancer
          ipFamilyPolicy: PreferDualStack
          ipFamilies:
            - IPv4
            - IPv6
  destination:
    server: {{ .Values.spec.destination.server }}
    namespace: haproxy-controller
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
      - PruneLast=true
