apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: haproxy-ingress
  namespace: argocd
spec:
  project: default
  destination:
    name: in-cluster
    namespace: haproxy-controller
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
      - PruneLast=true
  sources:
    - repoURL: https://haproxytech.github.io/helm-charts
      chart: kubernetes-ingress
      targetRevision: {{ .Values.haproxy.version }}
      helm:
        valuesObject:
          controller:
            service:
              annotations:
                service.beta.kubernetes.io/azure-load-balancer-health-probe-request-path: /healthz
              type: LoadBalancer
              ipFamilyPolicy: PreferDualStack
              ipFamilies:
                - IPv4
                - IPv6
    - chart: raw
      repoURL: https://bedag.github.io/helm-charts/
      targetRevision: 2.0.2
      helm:
        valuesObject:
          resources:
          - apiVersion: v1
            kind: ServiceAccount
            metadata:
              name: modsecurity
              namespace: haproxy-controller
          - apiVersion: rbac.authorization.k8s.io/v1
            kind: Role
            metadata:
              name: secret-editor
              namespace: haproxy-controller
            rules:
            - apiGroups:
              - ""
              resources:
              - secrets
              verbs:
              - get
              - list
              - watch
              - create
              - update
              - patch
              - delete
          - apiVersion: rbac.authorization.k8s.io/v1
            kind: RoleBinding
            metadata:
              name: modsecurity-secret-editor
              namespace: haproxy-controller
            subjects:
            - kind: ServiceAccount
              name: modsecurity
              namespace: haproxy-controller
            roleRef:
              kind: ClusterRole
              name: secret-editor
              namespace: haproxy-controller
          - apiVersion: batch/v1
            kind: Job
            metadata:
              name: modsecurity
              namespace: haproxy-controller
            spec:
              template:
                metadata:
                  name: modsecurity
                spec:
                  serviceAccountName: modsecurity
                  securityContext:
                    runAsNonRoot: true
                    runAsUser: 65532
                    fsGroup: 65532
                  containers:
                  - image: {{ .Values.registry }}/modsecurity:{{ .Values.modsecurity.version }}
                    name: modsecurity
                    args:
                    - create
                    - secret
                    - generic
                    - modsecurity
                    - --from-file
                    - /home/nonroot/rules
                    securityContext:
                      runAsNonRoot: true
                      runAsUser: 65532
                      runAsGroup: 65532
                      allowPrivilegeEscalation: false
                      privileged: false
                      readOnlyRootFilesystem: true
                      capabilities:
                        drop:
                        - ALL
                  restartPolicy: OnFailure
