apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: haproxy-ingress
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    name: in-cluster
    namespace: haproxy-controller
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
      - PruneLast=true
  sources:
    - repoURL: https://haproxytech.github.io/helm-charts
      chart: kubernetes-ingress
      targetRevision: {{ .Values.haproxy.version }}
      helm:
        valuesObject:
          controller:
            service:
              annotations:
                service.beta.kubernetes.io/azure-load-balancer-health-probe-request-path: /healthz
              type: LoadBalancer
              ipFamilyPolicy: PreferDualStack
              externalTrafficPolicy: Local
              ipFamilies:
                - IPv4
                - IPv6
            extraContainers:
              - name: coraza
                image: ghcr.io/corazawaf/coraza-spoa:0.5.0
                imagePullPolicy: Always
                command:
                  - /coraza-spoa
                  - --config=/etc/coraza/config.yaml
                  - --autoreload
                ports:
                - name: spoa
                  containerPort: 9000
                  protocol: TCP
                volumeMounts:
                - name: config
                  mountPath: /etc/coraza
                securityContext:
                  runAsNonRoot: true
                  runAsUser: 1000
                  runAsGroup: 1000
                  allowPrivilegeEscalation: false
                  privileged: false
                  readOnlyRootFilesystem: true
                  capabilities:
                    drop:
                    - ALL
            extraVolumeMounts:
              - name: coraza
                mountPath: /etc/coraza
              - name: hapoxy
                mountPath: /usr/local/etc/haproxy
            extraVolumes:
              - name: coraza
                configMap:
                  name: coraza
                  optional: false
              - name: haproxy
                configMap:
                  name: haproxy
                  optional: false
    - chart: raw
      repoURL: https://bedag.github.io/helm-charts/
      targetRevision: 2.0.2
      helm:
        valuesObject:
          resources:
          - apiVersion: v1
            kind: ConfigMap
            metadata:
              name: coraza
            data:
              config.yaml: |
                bind: 0.0.0.0:9000
                log_level: info
                log_file: /dev/stdout
                log_format: console
                default_application: default
                applications:
                  - name: default
                    directives: |
                      Include @coraza.conf-recommended
                      Include @crs-setup.conf.example
                      Include @owasp_crs/*.conf
                      SecRuleEngine On
                    response_check: false
                    transaction_ttl_ms: 60000
                    log_level: info
                    log_file: /dev/stdout
                    log_format: console
          - apiVersion: v1
            kind: ConfigMap
            metadata:
              name: haproxy
            data:
              coraza.cfg: |
                [coraza]
                spoe-agent coraza
                    #messages   response
                    groups      request
                    option      var-prefix      coraza
                    option      set-on-error    error
                    timeout     hello           2s
                    timeout     idle            2m
                    timeout     processing      500ms
                    use-backend coraza
                    log         global

                spoe-message request
                    args app=var(txn.coraza.app) src-ip=src src-port=src_port dst-ip=dst dst-port=dst_port method=method path=path query=query version=req.ver headers=req.hdrs body=req.body

                spoe-message response
                    args app=var(txn.coraza.app) id=var(txn.coraza.id) version=res.ver status=status headers=res.hdrs body=res.body
                    event on-http-response

                spoe-group request
                    messages request
              haproxy-aux.cfg: |
                backend coraza
                option spop-check
                mode tcp
                server coraza coraza:9000 check
          
