apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: haproxy-ingress
  namespace: argocd
spec:
  project: default
  destination:
    name: in-cluster
    namespace: haproxy-controller
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
      - PruneLast=true
  sources:
    - repoURL: https://haproxytech.github.io/helm-charts
      chart: kubernetes-ingress
      targetRevision: {{ .Values.haproxy.version }}
      helm:
        valuesObject:
          controller:
            service:
              annotations:
                service.beta.kubernetes.io/azure-load-balancer-health-probe-request-path: /healthz
              type: LoadBalancer
              ipFamilyPolicy: PreferDualStack
              ipFamilies:
                - IPv4
                - IPv6
